# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.whl
*.log
*.tmp
*.bak
*.swp
*.swo
*~

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Environment
.env
.venv/
venv/

# Docker
*.dockerfile
*.tar

# Data
*.csv
*.tsv
*.xls
*.xlsx
*.db
*.sqlite
*.parquet
*.h5
*.json
*.xml
docs/superpowers/plans/image/*.png

# OS
Thumbs.db
.DS_Store

# Others
logs/
*.out
*.err

# Tests
coverage/
htmlcov/

# Docs
*.pdf
*.docx
*.pptx

# Temp files
*.temp
_*.py

# Cache
.cache/

# Compiled
*.so
*.dll
*.exe

# Archives
*.zip
*.tar.gz
*.rar

# Node
node_modules/

# Tools
.gstack/
data/mvp.db-shm
data/mvp.db-wal
